In [1]:
'''
Author:Abir Pattnaik
Project Name:IEDA
Functionality: An interactive EDA that can help provide analysis from the data that was provided with you.
'''
#packages imported
import os
import pandas as pd

In [2]:
print 'Hello I am IEDA, your personal assistant for Exploratory Data Analysis.Let\'s begin shall we ?'

Hello I am IEDA, your personal assistant for Exploratory Data Analysis.Let's begin shall we ?

In [5]:
choice=input('What kind of file is your dataset? \n1.Excel\n2.CSV\n')

What kind of file is your dataset?
1.Excel
2.CSV
2

In [6]:
try:
    file_name=raw_input('Provide the file name\n')
    if choice==1:
        print('Reading the Excel file')
        dataset=pd.read_excel(file_name)
    elif choice==2:
        print('Reading the csv file')
        dataset=pd.read_csv(file_name)
        
except:
    print('Wrong file or wrong extension')

Provide the file name
BlackFriday.csv
Read csv file

In [7]:
print 'Here is the first few rows of the dataset that has been loaded.Please check if it is the right one.'
dataset.head()

Here is the first few rows of the dataset that has been loaded.Please check if it is the right one.

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [9]:
print 'Variables can be categorical,discrete or some variables that can help as a metadata information.'

dataset.info()

Variables can be categorical,discrete or some variables that can help as a metadata information.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [12]:
dataset['gender_category']=dataset.Gender.astype('category').cat.codes

In [14]:
dataset['User_ID'].corr(dataset['gender_category'])

-0.031898003612091233

In [23]:
print dataset['Product_Category_1'].value_counts()
print dataset['Product_Category_2'].value_counts()
print dataset['Product_Category_3'].value_counts()

5     148592
1     138353
8     112132
11     23960
2      23499
6      20164
3      19849
4      11567
16      9697
15      6203
13      5440
10      5032
12      3875
7       3668
18      3075
14      1500
17       567
9        404
Name: Product_Category_1, dtype: int64
8.0     63058
14.0    54158
2.0     48481
16.0    42602
15.0    37317
5.0     25874
4.0     25225
6.0     16251
11.0    13945
17.0    13130
13.0    10369
9.0      5591
12.0     5419
10.0     2991
3.0      2835
18.0     2730
7.0       615
Name: Product_Category_2, dtype: int64
16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64